.productCard{
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.productCard .productCardText{
        transition: transform 0.3s ease-out;
       
}

.productCard img{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.productCard:hover{

       transform: translateY(-1rem);

}

